* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system;
}

body {
  position: relative;
  z-index: 98;
  background-color: black;
  width: 100%;
  height: 100vh;
  text-align: center;
}
#particles-js {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: -1;
}
#contenedor {
  width: 500px;
  height: 300px;

  
  position: absolute;
  z-index: 99;
  top: 5%;
  left: 5%;
}

#initial {
  padding-top: 10%;
  width: 500px;
  height: 300px;
  color: blue;
  border-radius: 20% solid black;
}
#first{
  text-align: -moz-left;
  padding-left: 35%;

}
button{
  border-radius: 20px;
  width: 160px;
  height: 30px;
  font-size: 25px;
}
button:hover{
  background-color: gray;
  
}

#contenedor li {
  list-style-type: none;
  color: red;
  font-size: 25px;
}

.gradient-border {
  --border-width: 3px;
  color: white;
  
  border-radius: var(--border-width);
}

.gradient-border::after {
  position: absolute;
  content: "";
  top: calc(-1 * var(--border-width));
  left: calc(-1 * var(--border-width));
  z-index: -1;
  width: calc(100% + var(--border-width) * 2);
  height: calc(100% + var(--border-width) * 2);
  background: linear-gradient(
    10deg,
    hsl(137, 96%, 37%),
    hsl(238, 100%, 51%)
    
    
  
  );
  background-size: 300% 300%;
  background-position: 0 50%;
  border-radius: calc(2 * var(--border-width));
  animation: moveGradient 4s alternate infinite;
}
@keyframes moveGradient {
  50% {
    background-position: 40% 100%;
  }
}

#table {
  left: 100%;
  bottom: 70%;
  position: relative;
  z-index: 99;
  width: 1500px;
  height: 1000px;
}
@media (max-width: 1920px) {
  #table {
    left: 120%;
    margin-top: -20%;
    width: 1250px;
    height: 800px;
  }
}
#imagen{
  width: 1000px;
  height: 800px;
  
}

#calculos{
 
  position: relative;
  z-index: 99;
  width: 500px;
  height: 800px;
  top: 35%;
  opacity: 1;
  text-align: right;

}
#calculos li {
  color: white;
  padding-top: 10%;
}

