* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system;
  
}

body {
  position: relative;
  z-index: 98;
  background-color: black;
  width: 100%;
  height: 100vh;
  text-align: center;
}
#particles-js {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: -1;
}
#contenedor {
  width: 500px;
  height: 300px;

  position: absolute;
  z-index: 99;
  top: 5%;
  left: 5%;
}

#initial {
  padding-top: 10%;
  width: 500px;
  height: 300px;
  color: black;
  border-radius: 20% solid black;
}
#first {
  text-align: -moz-left;
  padding-left: 35%;
}

button {
  border-radius: 20px;
  width: 160px;
  height: 30px;
  font-size: 25px;
}
button:hover {
  background-color: gray;
}

#contenedor li {
  list-style-type: none;
  color: black;
  font-size: 25px;
}

.gradient-border {
  --border-width: 3px;
  color: white;

  border-radius: var(--border-width);
}

.gradient-border::after {
  position: absolute;
  content: "";
  top: calc(-1 * var(--border-width));
  left: calc(-1 * var(--border-width));
  z-index: -1;
  width: calc(100% + var(--border-width) * 2);
  height: calc(100% + var(--border-width) * 2);
  background: linear-gradient(10deg, hsl(137, 96%, 37%), hsl(238, 100%, 51%));
  background-size: 300% 300%;
  background-position: 0 50%;
  border-radius: calc(2 * var(--border-width));
  animation: moveGradient 4s alternate infinite;
}
@keyframes moveGradient {
  50% {
    background-position: 40% 100%;
  }
}

#table {
  left: 140%;
  bottom: 70%;
  position: relative;
  z-index: 99;
  width: 1250px;
  height: 800px;
}
#imagen {
  width: 1250px;
  height: 800px;
}

#calculos {
  position: relative;
  z-index: 99;
  width: 500px;
  height: 800px;
  top: 35%;
  opacity: 1;
  text-align: right;
}
#calculos li {
  color: white;
  padding-top: 10%;
  display: block ruby;
}

@media screen and (max-width: 1920px) {
  #table {
    left: 150%;
    bottom: 100%;
    width: 1000px;
    height: 800px;
  }
  #imagen {
    width: 1000px;
    height: 800px;
  }
  #contenedor {
    width: 350px;
  }
  #initial {
    width: 350px;
  }
  #calculos {
    width: 350px;
    height: 500px;
  }
  label {
    font-size: 15px;
  }
  #calculos li {
    padding-top: 7%;
  }
}

@media screen and (max-width: 1696px) {
  #table {
    left: 160%;
    margin-top: 10%;
    width: 800px;
    height: 600px;
  }
  #imagen {
    width: 800px;
    height: 600px;
  }
  #calculos {
    height: 435px;
  }
}

@media screen and (max-width: 1536px) {
  #table {
    left: 200%;
    margin-top: 0;
    width: 800px;
    height: 600px;
  }
  #imagen {
    width: 800px;
    height: 600px;
  }
  #contenedor {
    width: 250px;
    height: 250px;
  }
  #initial {
    width: 250px;
  }
  #calculos {
    top: 20%;

    height: 400px;
  }
  label {
    font-size: 15px;
  }

  #first {
    padding-left: 25%;
  }
}

@media screen and (max-width: 1408px) {
  #table {
    left: 185%;
    margin-top: -10%;
    width: 700px;
    height: 500px;
  }
  #imagen {
    width: 700px;
    height: 500px;
  }
  #calculos {
    top: 10%;
    height: 350px;
  }
  #calculos li {
    padding-top: 4%;
  }
}

@media screen and (max-width: 1282px) {
  #table {
    left: 250%;
    margin-top: 0;
    width: 600px;
    height: 500px;
  }
  #imagen {
    width: 600px;
    height: 500px;
  }
  #contenedor {
    width: 200px;
    height: 250px;
  }
  #initial {
    width: 200px;
    padding-top: 0;
  }
  #calculos {
    top: 20%;

    height: 250px;
  }
  #calculos li {
    padding-top: 0%;
  }
  label {
    font-size: 15px;
  }
  #first {
    padding-left: 15%;
  }
  button {
    font-size: 15px;
  }
}

@media screen and (max-width: 1160px) {
  #table {
    left: 250%;
    margin-top: 0;
    width: 500px;
    height: 400px;
  }
  #imagen {
    width: 500px;
    height: 400px;
  }
  #calculos {
    top: 5%;
  }
}
