<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>App-Termodinamica</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <div id="particles-js">
      <div id="contenedor">
        <div id="initial" class="gradient-border">
          <div class="title">
            <h1>Ciclo De Rankine</h1>
          </div>

          <ul id="first">
            <li>
              <label for="Presion"></label
              ><input type="text" id="Presion" placeholder="Presion1" />
              <label>bar</label>
            </li>
            <br />
            <li>
              <label for="Presion2"></label
              ><input type="text" id="Presion2" placeholder="Presion2" />
              <label>bar</label> <br />
            </li>
            <br />
            <li>
              <label for="Temperatura"></label
              ><input type="text" id="Temperatura" placeholder="Temperatura3" />
              <label>ºC</label>
            </li>
          </ul>

          <br />

          <button id="calcular">Calcular</button>
          
          <div id="calculos"  class="gradient-border">
          <ul>
            <li>
              <label>trabajo requerido por la bomba </label>
              <input type="text" id="bomba" />
            </li>
            <li>
              <label>trabajo generado por la turbina hp </label>
              <input type="text" id="turbinaHP" />
            </li>
            <li>
              <label>trabajo generado por la turbina lp </label>
              <input type="text" id="turbinaLP" />
            </li>
            <li>
              <label>trabajo total de la turbina </label>
              <input type="text" id="trabajoTotal" />
            </li>
            <li>
              <label>heat input by boiler </label>
              <input type="text" id="boiler" />
            </li>
            <li>
              <label>calor rechazado por el condensador </label>
              <input type="text" id="condenser" />
            </li>
            <li>
              <label>eficiencia termica </label>
              <input type="text" id="eficiencia" />
            </li>
            <li>
              <label>flujo masico </label>
              <input type="text" id="flujo masico" />
            </li>
          </ul>
        </div>
        </div>
        <div id="table" >
          <div>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.0/socket.io.min.js"></script>

            <img src="{{ user_image }}" alt="User Image" id="imagen" />
          </div>
        </div>
      </div>
    </div>

    <script>
      let button = document.getElementById("calcular");

      button.addEventListener("click", function () {
        var presion1 = document.getElementById("Presion").value;
        var presion2 = document.getElementById("Presion2").value;
        var temperatura = document.getElementById("Temperatura").value;
        var eficiencia = document.getElementById("eficiencia");
        var bomba = document.getElementById("bomba");
        var turbinaHP = document.getElementById("turbinaHP");
        var turbinaLP = document.getElementById("turbinaLP");
        var trabajoTotal = document.getElementById("trabajoTotal");
        var boiler = document.getElementById("boiler");
        var condenser = document.getElementById("condenser");
        var flujoMasico = document.getElementById("flujo masico");

        var socket = io();
        socket.emit("message", {
          presion: presion1,
          presion2: presion2,
          temperatura: temperatura,
        });
        socket.on("message", function (data) {
          eficiencia.value = data["eficiencia"] + "%";
          bomba.value = data["wp"] + " kJ/kg";
          turbinaHP.value = data["w_HPt"] + " kJ/kg";
          turbinaLP.value = data["w_LPt"] + " kJ/kg";
          trabajoTotal.value = data["WTT"] + " kJ/kg";
          boiler.value = data["q_H"] + " kJ/kg";
          condenser.value = data["q_L"] + " kJ/kg";
          flujoMasico.value = data["flujo_masico"] + " kg/s";
        });

        setInterval(function () {
          var img = document.getElementById("imagen");
          img.src = img.src.split("?")[0] + "?" + new Date().getTime();
        }, 500);
      });
    </script>

    <script src="../static/js/particles.js"></script>
    <script>
      particlesJS.load(
        "particles-js",
        "{{ url_for('static', filename='js/particlesjs-config.json') }}",
        function () {
          console.log("particles.json has loaded");
        }
      );
    </script>
  </body>
</html>
